@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

@font-face {
    font-family: 'JetBrains Mono'; /* add this font > needs to be downloaded */
    src: url( '../fonts/jetbrains-mono/JetBrainsMono-Regular.ttf');
    src: url( '../fonts/jetbrains-mono/JetBrainsMono-Regular.ttf') format('truetype' ); /* previous line is for backwards compatibility */
    /* can use url but it may go away > example are adobe and google fonts */
    font-weight: normal;
    font-style: normal;
}
@font-face { /* may be needed depending on webpage > some browsers may guess based on regular */
    font-family: 'JetBrains Mono'; /* add this font > needs to be downloaded */
    src: url( '../fonts/jetbrains-mono/JetBrainsMono-Bold.ttf');
    src: url( '../fonts/jetbrains-mono/JetBrainsMono-Bold.ttf') format('truetype' ); /* previous line is for backwards compatibility */
    /* can use url but it may go away > example are adobe and google fonts */
    font-weight: bold;
    font-style: normal;
}
@font-face { /* may be needed depending on webpage > some browsers may guess based on regular */
    font-family: 'JetBrains Mono'; /* add this font > needs to be downloaded */
    src: url( '../fonts/jetbrains-mono/JetBrainsMono-Bold-Italic.ttf');
    src: url( '../fonts/jetbrains-mono/JetBrainsMono-Bold-Italic.ttf') format('truetype' ); /* previous line is for backwards compatibility */
    /* can use url but it may go away > example are adobe and google fonts */
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'JetBrains Mono'; /* add this font > needs to be downloaded */
    src: url( '../fonts/jetbrains-mono/JetBrainsMono-Regular.ttf');
    src: /* you would want to have all the main formats in each @font-face! */
    url( '../fonts/jetbrains-mono/JetBrainsMono-Regular.woff' ) format('woff' ), 
    url( '../fonts/jetbrains-mono/JetBrainsMono-Regular.ttf' ) format('truetype' ), 
    url( '../fonts/jetbrains-mono/JetBrainsMono-Regular.svg') format( 'svg' ); 
    /* previous line is for backwards compatibility */
    /* can use url but it may go away > example are adobe and google fonts */
    font-weight: normal;
    font-style: normal;
}

* { /* basic browser reset. */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

code {
    white-space: pre;
    font-family: 'JetBrains Mono', Consolas, monospace;
}
body {
    /* background-image: url(https://cdn.pixabay.com/photo/2020/02/12/18/57/toronto-4843615_960_720.jpg); */
    background-image: url('../img/dancer1.gif');  ('../img/dancer.gif') */
    background-size: tile; /*tile || cover || */
    background-repeat: no-repeat;
    background-position: top center; /* top right */
    background-attachment: fixed;

}



h1, h2, h4, h5, h6 {
    font-size: 32px;
    font-family: 'Times New Roman', Georgia, serif;
    text-align: center;
    padding-top: 60px;
}

h1 {
    font-family: 'JetBrains Mono', Consolas, monospace;
    font-weight: bold;
    text-align: center;
    padding: 50px;
}
h2 {
    font-family: 'Merriweather','Comic Sans', cursive;
    font-size: 26px;
    padding: 16px 0;
}
nav {
    width: auto;
    max-width: 500px;
    background-color: salmon;
    margin: 0px auto;
    position: relative;
    top: 0px;
    right: 0;
    bottom: auto;
    left: 0;
    z-index: 4;
}
nav ul {
    text-align: center;
    padding: 0;
}
nav ul li {
    display: inline-block; /* can be inline, block or inlineblock*/
}
nav ul li a {
    text-decoration: none; /* will remove underline from this link*/
    display: inline-block;
    padding: 16px 32px; /* 16 for top and bottom and 32 for left right */
}
nav ul li a:hover, nav ul li a:focus {
    background-color: rgb( 0,255,0);
    color: #ff00ff /* fff implies ffffff */
}
nav ul li a:active {
    background-color: rgb( 255,0,255);
    color: #00ff00 /* fff implies ffffff */
}

article {
    max-width: 600px; /* width: 600px; */
    margin-left: auto; /* Margin left and right will centre a block level element! */
    margin-right: auto;
    padding: 64px;  /* adds padding*/
}
p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: rgb( 33,33,33 ); /*f There are a few ways to do colour... */
    background-color: #eeeeee; /* short hand with #eee */
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">    
}

#float-practice {
    float: left;
    margin-top: 0;
    margin-right: 16px;
    margin-bottom: 0px;
    margin-left: 0; /* margin: 0 16px 16px 0; */
}
#z-index-practice {
    position: absolute;
    display: block;
    top: 30px;
    right: 0;
    left: 0;
    margin: auto;
    z-index: -1; /* visual layering! */
}

/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
  }

  .screen-reader-text:focus { /* this : means pseudo selectors:
                                a:hover very common
                                a:visited ?purple if visited and blue if not
                                a:active state of element
                                */

    /* background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 15px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
  }

  .hide-me {
      list-style: none;
      height: 0;    
  }

  .overflow-hidden {
      overflow: hidden;
      height: 35px;
  }
  .overflow-visible {
    overflow: visible;
    height: 35px;

  }
  .overflow-scroll {
    overflow: scroll;
    height: 75px;
  }  
  .overflow-auto {
    overflow: auto;
    height: 75px;

  }

#background-bullets, 
#images-bullets {
    list-style: none;
    margin: 16px auto;
    padding: 16px;
}
#background-bullets li {
    background-image: url( '../img/phoenix.jpg');
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: top left;
    padding: 4px 8px 8px 40px

}
#images-bullets {
    position: relative; /* position relative to li */
    padding: 8px 8px 8px 264px;

}
/* only do this if the image is important to the content */
#images-bullets li img {
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
}


/* 20200225 - gradient and speech bubble */
/* ------------------------------------------------------------*/
.gradient-bg {
    height: 300px;
    opacity: 0.75;
    margin-top: 50px;
    background: rgb(195,67,52);
    background: linear-gradient(142deg, rgba(195,67,52,1) 0%, rgba(204,214,43,1) 21%, rgba(38,121,9,1) 35%, rgba(30,22,160,1) 63%, rgba(0,212,255,1) 100%);
/* 20200225 - from cssgradient.io */
    box-shadow: 32px 32px 0px 0px rgba(0,0,0,1);
}
.speech-bubble {
    background: rgba( 255, 255, 255, 0.95);
    border-radius: 1.5em;
    border-bottom-right-radius: 0;
    max-width: 300px;
    padding: 1.5em;
    color: rgba( 33, 33, 33, 1 );
    margin-top: 75px;
    position: relative;
}
.speech-bubble::after {
    /* double colon is a pseudo element. this is a fake element...  keep in mind its content cannot be read by screen readers or search engines --> only use it for purely visual text with no importance/meaning. */
    content: '';
    display: block;
    width: 0;
    height: 0;
    box-sizing: content-box;
    border-top: 0 solid transparent;
    border-right: 32px solid rgba( 255, 255, 255, 0.95);
    border-bottom: 32px solid transparent;
    border-left: 0 solid transparent;
    /* relative parent and triangle absolute to bottom right of previous block > 100% down and right: 0. */
    position: absolute;
    top: 100%;
    right: 0;
    /* end triangle */
    /* position it at the bottom right corner: */
}
/* ------------------------------------------------------------*/
/* 20200224 for different size screens */
.video-section {
    position: relative;
    overflow: hidden;


}


/* ------------------------------------------------------------*/
/* 20200226 for different size screens */



.video-section > * {
    position: relative;
    z-index: 3;
}
.video-section p {
    background: none;
}


.video-section video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 150%;
    height: auto;
    z-index: 1;
 /*   opacity: 0.5; */
}

/* whiteout overlay */
.video-section::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba( 255, 255, 255, 0.60 );
    z-index: 2;

}

.transition-transform button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    color: gray;
    background: lavenderblush;
    padding: 8px 16px;
    border: 3px solid black;
    margin: 32px;
    cursor: pointer; /* can be crosshair || none || not-allowed || URL ... */
    transition: 
        1s linear border, 
        0.3s ease-in padding,
        0.5s ease-in-out background-color,
        2s ease color,
        4s ease font-size;
}

.transition-transform button:hover,
.transition-transform button:focus,
.transition-transform button:active, {
    color: lavenderblush;
    font-size: 16px;
    background-color: gray;
    padding: 12px 20px;
    border: 6px dotted indigo;
}

/* transform / hover example: */
.transition-transform div {
    display: inline-block;
    padding: 8px 16px;
    background-color: chartreuse;
    cursor: pointer;
    transition: 7s ease-out transform;
}

.transition-transform div + div {  /* +div = immediately after sibling = find a div beside a div... this is a "directly-followed-by" sibling selector. */
    background-color: green;
    pointer-events: none; /* disable hover/click/etc for the element. */
    /* WARNING: will affect your javascript and all mouse actions!. */
}

.transition-transform div:hover + div {  /* +div = immediately after sibling */
    transform: 
        translate( 100px, -50px )
        rotate( 180deg )
        scale( 3.25 );

}


#social-media-links {
    list-style: none;
    text-align: center;
}
#social-media-links > li {  /* using '>', only direct child affected (not grandchild). the li must be directly inside the element with the "social-media-links" id in this case */
    display: inline-block;
    margin: 8px;
}
#social-media-links .fab {
    color: rgba( 50, 50, 50, 1);
    font-size: 32px;
}
#social-media-links a:hover .fab,
#social-media-links a:focus .fab,
#social-media-links a:active .fab  /* psuedo-selector with nesting. */
{
    color: rgba( 255, 0, 0, 0.75 ); /* rgba - the "a" stands for alpha channel.   alpha channel: 1 = opaque; 0 = transparent.  can use values in between like 0.5 */
    /* color: rgba( 50, 50, 50, 0.5 ); /* rgba - the "a" stands for alpha channel.   alpha channel: 1 = opaque; 0 = transparent.  can use values in between like 0.5 */
}
/* ------------------------------------------------------------*/
/* 20200224 for different size screens */
/* @media screen and ( min-width: 500px ) {
    body {
        background: red;
    }

    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 30px
    }
    h3 {
        font-size: 26px
    }

}@media screen and ( min-width: 1024px ) {
    body {
        background: green;
    }
    h1 {
        font-size: 64px;
    }
    h2 {
        font-size: 32px
    }
    h3 {
        font-size: 28px
    } */
/* ------------------------------------------------------------*/
/* 20200224 for different size screens */










}